@font-face {
    font-family: 'TTNorms';
    src: url(../assets/TTNormsProVariable.ttf);
}

header{
    height: 80px;
    background: #111;
    padding: 0 50px;
}

.navigation{
    font-family: 'TTNorms', sans-serif;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.navigation ul{
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
}

.navigation ul li a{
    position: relative;
    display: flex;
    align-items: center;
}

.navigation ul li{
    display: flex;
    align-items: center;
    list-style: none;
    height: 100%;
}

.logo{
    height: 50px;
    filter: invert(1);
}

.navigation ul li a p{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #F9F9F9;
    border-radius: 6.4px;
}

.navigation ul li a{
    text-decoration: none;
    height: 100%;
}

.navigation ul li a:hover .underline{
    background: #FF0000;
    position: absolute;
    bottom: 7px;
    height: 4px;
    border-radius: 2px;
    width: 100%;
}

.navigation ul li a:hover p{
    background: rgba(128, 128, 128, .3);
}

.open-sidebar{
    background: none;
    cursor: pointer;
    border: none;
}